/.bundle/
/pkg/
/tmp/
/spec/fixtures/*.aicmodel
Gemfile.lock
*.gem

# C extension build artifacts
*.o
*.bundle
*.so
*.dSYM/
ext/**/Makefile
ext/**/mkmf.log

vendor/aic/**/*.so
vendor/aic/**/*.dylib
vendor/aic/**/*.dll
vendor/aic/**/*.a
vendor/aic/**/*.lib
vendor/aic/include/aic.h
